.card {
    padding: 30px 0px;
    margin: -50px 6% 30px;
}
body {
    background-image: linear-gradient(rgb(0,0,0,0.7) ,rgb(0,0,0,0.7),rgb(0,0,0,0.7),rgb(0,0,0,0.7)), url('../images/bg.jpg'); 
    height: 80vh;
    background-size: cover;
    background-position: center;
    color:lightseagreen;
}
.input-field .prefix {
    font-size: 1.6rem;
}
a.btn.btn-info.right.text-white.text-center,
button.btn.right.text-white.text-center  {
    width: 100px;
}
.input-field .prefix {
    color: #6b6868;
}

.title{
    display: table;
    width: 100%
  } 
  .title-row{
    display: table-row;
  } 
  .bar-container {
    display: table-cell;
    position: relative;

    width: 50%;
  }
  .bar {
    position: absolute;
    width: 100%;
    top: 30%;
    border-bottom: 1px solid black;
  }
  .text {
    display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
    font-size: 10px;
  }
  a.btn.btn-info.right.text-white {
    margin-top: -25px;
}
p {
  font-size: 14px;
}