.card {
    padding: 30px 0px;
    margin: -50px 6% 30px;
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)), url('../images/bg.jpg'); 
    height: 80vh;
    background-size: cover;
    background-position: center;
}
.text {
    margin-left: -64px;
}
.btn-info {
    margin-right: -58px;
}
.input-field .prefix {
    font-size: 1.6rem;
}
a.btn.btn-info.right.text-white.text-center {
    width: 100px;
}
.input-field .prefix {
    color: #6b6868;
}